@{
    ViewData["Title"] = "Criar Grupos";
}

<div class="text-center">

    <h1 class="display-4">alunos para adicionar</h1>
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Digite o nome do aluno" aria-label="Recipient's username" aria-describedby="basic-addon2">
        <div class="input-group-append">
            <button class="btn btn-primary">Buscar aluno </button>
        </div>
    </div>
    <div class="list-group">
        <a class="list-group-item list-group-item-action">
            Aluno1
        </a>
        <a class="list-group-item list-group-item-action">Aluno2</a>
        <a class="list-group-item list-group-item-action">Aluno3</a>
        <a class="list-group-item list-group-item-action">Aluno4</a>
        <a class="list-group-item list-group-item-action" disabled>Aluno5</a>
    </div>

</div>
<button class="btn btn-primary" >Criar grupo</button>

